@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
*{
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.search {
  padding: 10px 4px;
  position: absolute;
  left: 0%;
  margin-left:30px;
  height: 40px;
  float:left;
  background-color: #ffffff;
  border-radius: 0.5rem;
  margin-top:44px;
}
.search-button{
  margin-left:30px;
  position: absolute;
  left: 170px;
  padding: 10px 13px;
  height: 40px;
  left:12%;
  background-color: #ffffff;
  border-radius: 0.5rem;
  margin-top:44px;
}
html {
  background: url(index/1212.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.wallpapers {
  background: url(index/1212.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
    height: 100%;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size: 1380px;
    font-family: 'Balsamiq Sans', cursive;
}
h {
    color:#e3ffff;
    font-size:25px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align:center;

}
li {
  display: inline;


}
p{
    font-size:30px;
    color:#303030;



/*for the color of the links*/
/*_______________________________________________________________________________________________*/
/*_______________________________________________________________________________________________*/
}
a:link {
    color: #2d4542;
}
a:visited {
  color: #452d36;
}



/*for images*/
.center-button{
    display: block;
  margin-left: auto;
  margin-right: auto;
}


.center {

  display: block;
  margin-left: auto;
  margin-right: auto;


}
.left{
  float:left;

  margin-left:80px;
}
.left-phone{
  float:left;
  margin-left:50px;
}
.top{
  margin-top:-180px;
}

.height{
  height:100px;
}
.right{
  float:right;
  margin-right:80px;

}
.right-phone{
  float:right;
  margin-right:50px;

}




/*for nav bar*/
/*_______________________________________________________________________________________________*/
/*_______________________________________________________________________________________________*/
#tv {
  position: relative;

  height: 150px;
  background: white;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
  color: white;
  box-shadow: 20px 20px rgba(0,0,0,.15);
  transition: all .4s ease;
}
#tv:hover {
  border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
  box-shadow: 10px 10px rgba(0,0,0,.25);
}
.thing {


  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
  0 5px 15px 0 rgba(0,0,0,0.08);
  background-color: #ffffff;
  border-radius: 0.5rem;

  border-left: 0 solid #00ff99;
}





.heading {
  color: #fff;
}
/*_______________________________________________________________________________________________*/
/*_______________________________________________________________________________________________*/

/*for the downloads button*/
a{
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    margin: 40px 0;
    color: #242424;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 2px;
    overflow: hidden;
    margin-right: 20px;

}
a:hover{
    background: #9fe0e3;
    color: #050801;
    box-shadow: 0 0 5px #9fe0e3,
                0 0 25px #9fe0e3,
                0 0 50px #9fe0e3,
                0 0 200px #9fe0e3;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
a:nth-child(1){
    filter: hue-rotate(90deg);
}
a:nth-child(2){
    filter: hue-rotate(30deg);
}
a span{
    position: absolute;
    display: block;
}
a span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#9fe0e3);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(60deg,transparent,#9fe0e3);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
a span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(-30deg,transparent,#9fe0e3);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}


a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(30deg,transparent,#9fe0e3);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}

/*_______________________________________________________________________________________________*/
/*_______________________________________________________________________________________________*/


/* Position the image container (needed to position the left and right arrows) */
.container {
  margin-right:80px;
  margin-left:80px;
  margin-top:-50px;
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */

.next {
  cursor: pointer;
  position: absolute;
  top: 70%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  background-color: white
}
.prev{
  left:2%;
  cursor: pointer;
  position: absolute;
  top: 65%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: white
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: white;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
.image{
    height:50px;
}
.left{
  float: left;
}
/*_________________________________________________________________________*/
.margin{
  margin-top:30px;
}
.more-link {
  margin: 0;
  position: absolute;
  top: 75%;
  left: 50%;
  text-transform: uppercase;
  font-size: 13px;
  background-color: #5151a6;
  padding: 10px 15px;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  line-height: 1.5;
  text-decoration: none;
  letter-spacing: 3px;
}
#tv2:hover {
  border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
  box-shadow: 10px 10px rgba(0,0,0,.25);
}
.salam:hover{
  border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
  box-shadow: 10px 10px rgba(0,0,0,.25);
}
